#mobile_between_rounds_box{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    margin: 0 auto;
}

#mobile_between_rounds_subtitle{
    text-align: center;
    font-size: 12px;
}

#mobile_between_rounds_title{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}

#mobile_between_rounds_guesses_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#mobile_between_rounds_header{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile_between_return_button{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #656D4A;
    border: none;
    color: #F5F7E4;
    cursor: pointer;
}

#mobile_between_text{
    flex: 1;
}

@media screen and (max-width: 500px) {
    #mobile_between_rounds_title{
        font-size: 25px;
    }
    
    #mobile_between_rounds_subtitle{
        font-size: 10px;
    }
}