#nav_bar{
    margin: 0 auto; /* Esse era o problema de nao centralizar */
    display: flex;
    width: 80%;
    height: auto;
    min-height: 5rem;
    justify-content: space-between;
    align-items: center;
}

.nav_items{
    margin: 0;
    padding: 0;

    cursor: pointer;
    transition: .3s ease-in-out;
}

#menu_icon{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../../../public/assets/icons/menu-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#menu_icon:hover{
    transform: scale(1.13);
    transition: .3s ease-in-out;
}

#logo_icon{
    width: 8rem;
    height: 8rem;
    
    background-image: url(../../../public/assets/logo.svg);
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}
#logo_icon:hover{
    transform: scale(1.1);
    transition: .3s ease-in-out;
}




@media screen and (max-width: 700px){
    #logo_icon{
        width: 5rem;
        height: 5rem;
    }
    
}
