.form_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 45%;
}

.form_box.create_room_box{
    justify-content: space-between;
}

.fadeInLeft{
    animation: fadeInLeft .5s ease-in-out;
}
.fadeInRight{
    animation: fadeInRight .5s ease-in-out;
}
.fadeOutLeft{
    animation: fadeOutLeft .5s ease-in-out;
}
.fadeOutRight{
    animation: fadeOutRight .5s ease-in-out;
}

.number_inputs{
    display: flex;
    gap: 15px;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

/* LANGUAGE SELECTION */
#language_selection_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
#language_selection_box > #languages_icons_box{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
#language_selection_box > #languages_icons_box > .language_icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all .3s ease-in-out;


    background-size: cover;
    background-position: center;
}
#language_selection_box > #languages_icons_box > .language_icon:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
#language_selection_box > #languages_icons_box > .flag-selected{
    box-shadow: 0 0 5px #cfe587;
    border: 2px solid #eaf7c2;
}
#language_selection_box > #languages_icons_box > #PT-flag{
    background-image: url('/flags/PT_flag.svg');
}
#language_selection_box > #languages_icons_box > #EN-flag{
    background-image: url('/flags/EN_flag.svg');
}
#language_selection_box > #languages_icons_box > #SP-flag{
    background-image: url('/flags/SP_flag.svg');
}


/* @media screen and (min-width: 650px) and (max-height: 650px) {
    .form_box{
        max-height: 100px;
        overflow-y: scroll;
    }
} */

@media screen and (max-width: 650px){
    .form_box{
        width: 100%;
    }

    #language_selection_box{
        flex-direction: row;
        gap: 20p;
    }
}


@keyframes fadeInLeft {
from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: 0;
        transform: translateX(20px);
    }
}