#home {
    margin: 0 auto;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;

    /* background-color: #f5f5f5; */
}

#form_box {
    margin-left: 0;
    margin-top: 0;
    padding: 30px;

    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    backdrop-filter: blur(2px);
    background-color: rgb(147, 102, 57, 0.4);
    border: solid 2px #A68A64;
    border-radius: 10px;
}

#form_box > h1{
    font-size: 32px;
    font-weight: 400;
    text-shadow: #A4AC86 0px 0px 20px;
}

#game_title,
#options_entry_box,
#user_avatar_box {
    margin: 0 auto;
}

#options_entry_box {
    display: flex;
    align-items: center;
    gap: 0px;
}

#options_entry_box > .option_entry {
    padding: 8px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 18px;
    border: none;
    cursor: pointer;

    backdrop-filter: blur(1px);
    background-color: rgba(164, 172, 134, .4);

    transition: .2s ease-in-out;
}

#options_entry_box > #enter_option {
    border-radius: 20px 0 0 20px;
}
#options_entry_box > #create_option {
    border-radius: 0 20px 20px 0;
}

/* ******************* */
/* RESPONSIVENESS */

@media screen and (max-width: 1200px) {
    #home {
        margin: 0 auto;
        margin-top: 20px;
        width: 95%;
        height: auto;
    }

    #form_box {
        margin: 0 auto;
        width: 50%;
        padding: 20px;
        gap: 15px;
    }

    #form_box > h1{
        font-size: 28px;
    }

    #options_entry_box > .option_entry {
        padding: 10px 20px;
        font-size: 16px;
    }
}

    @media screen and (max-width: 480px) {
        #home {
            width: 95%;
            height: auto;
        }
        
        #form_box {
            margin: 0 auto;
            width: 80%;
            padding: 15px;
            gap: 10px;
        }

        #options_entry_box {
            gap: 0px;
        }

        #options_entry_box > .option_entry {
            width: 90%;
            font-size: 14px;
        }
    }
