#search_song_box{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#search_box{
    width: 100%;
    height: 50%;
    flex: 1 0 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#search_song_word_box{
    width: 100%;
    height: 15%;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-weight: 600;

    background-color: #2E3725;
    border: solid 2px #A4AC86;
    border-radius: 10px;
}

#search_song_subtitle {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#search_song_inputs_box{
    width: 80%;
    height: 50%;

    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: space-between; */
    align-items: center;
}


#search_song_timer_back{
    width: 100%;
    height: 3%;
    display: flex;
    border-radius: 15px;
    background-color: rgba(127, 79, 36, 0.5);
}

#search_song_timer_bar{
    height: 100%;
    border-radius: 15px;
    background-color: rgba(194, 197, 170);
    transition: width 1s linear;
}


#search_song_word_box { background: rgba(0,255,0,0.2); }
#search_box { background: rgba(255,0,0,0.2); }
#search_song_timer_back { background: rgba(0,0,255,0.2); }