#home {
    position: relative;

    margin: 0 auto;
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;

    /* background-color: #f5f5f5; */
}

#form_box {
    margin-left: 0;
    margin-top: 0;
    padding: 40px 30px;

    width: 60%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;

    backdrop-filter: blur(2px);
    background-color: rgb(147, 102, 57, 0.4);
    border: solid 2px #A68A64;
    border-radius: 10px;
}

#fixed_box{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 32px;
    font-weight: 400;
    text-shadow: #A4AC86 0px 0px 20px;
}

#game_title,
#options_entry_box,
#user_avatar_box {
    margin: 0 auto;
}

#options_entry_box {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#options_entry_box > .option_entry {
    padding: 8px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 18px;
    border: none;
    cursor: pointer;

    backdrop-filter: blur(1px);
    background-color: rgba(164, 172, 134, .4);

    transition: .2s ease-in-out;
}

#options_entry_box > #enter_option {
    border-radius: 20px 0 0 20px;
}
#options_entry_box > #create_option {
    border-radius: 0 20px 20px 0;
}

/* AVATARS */
#user_avatar_box
{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* margin-bottom: 10px; */
}

#user_avatar_box > #user_avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: solid 4px #A4AC86;
}

#user_avatar_box > #edit_avatar{
    position: absolute;
    top: 0;
    right: 0;

    width: 35px;
    height: 35px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #656D4A;
    transition: .2s ease-in-out;
}
#user_avatar_box > #edit_avatar:hover{
    cursor: pointer;

    background-color: #A4AC86;
    transform: scale(1.1);
    box-shadow: 0 0 10px #A4AC86;
    transition: .2s ease-in-out;
}
#user_avatar_box > #edit_avatar > #edit_avatar_icon{
    width: 25px;
    height: 25px;

    background-image: url(/public/assets/icons/pencil-btn.svg);
    background-size: cover;
    background-position: center;
}


/* ******************* */
/* RESPONSIVENESS */

@media screen and (max-width: 1200px) {
    #home {
        margin: 0 auto;
        margin-top: 20px;
        width: 95%;
        height: auto;
    }

    #form_box {
        margin: 0 auto;
        width: 70%;
        padding: 40px 20px;
        gap: 15px;
    }

    #form_box > h1{
        font-size: 28px;
    }

    #options_entry_box > .option_entry {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 650px) {
    #home {
        width: 95%;
        height: auto;
    }
    
    #form_box {
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        padding: 15px 15px;
        gap: 10px;
    }

    #fixed_box{
        width: 100%;
        gap: 10px;
    }

    #options_entry_box {
        gap: 0px;
    }

    #options_entry_box > .option_entry {
        width: 90%;
        font-size: 14px;
    }
}
