#chat_box{
    
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
    background: linear-gradient(to top, #2d4814, #3e580e00);
    gap: 10px;
    padding: 10px;
    box-shadow: #00000043 0px 0px 15px;
}

#chat_messages_box{
    overflow-y: auto;
    width: 98%;
    height: 80%;
    text-indent: 15px;
}

#chat_input_box{
    position: relative;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #C5C2AA; */
    border-radius: 15px;
}

#chat_input{
    width: 80%;
    height: 100%;
}

#chat_send_button{
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);

    width: 40px;
    height: 40px;
    text-align: center;

    background-color: #a8bd63;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

#chat_send_button:hover{
    transform: scale(1.01) translateY(-50%);
    box-shadow: #8f9c61be 0px 0px 10px;
    background-color: #b3b99c;
    transition: .3s ease-in-out;
}

#chat_input_text_input{
    width: 100%;
    height: 100%;
    
    border: none;
    outline: none;
    
    text-indent: 10px;
    font-size: 15px;
    font-weight: 600;
    
    background-color: #c3e59e99;
    color: #ffffff;
    border-radius: 15px;
}
#chat_input_text_input:focus{
    border: solid 2px #e9fe97a3;
    box-shadow: #8f9c61be 0px 0px 10px;
}

#chat_input_text_input::placeholder{
    color: #ffffff74;
    opacity: 1;
}

.chat_message_sender{
    color: #C5C2AA;
}

.chat_message_text{
    color: #fff;
}

