#chat_box{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to top, #351D09, rgba(88, 47, 14, 0));
    gap: 2px;
}

#chat_messages_box{
    overflow-y: auto;
    width: 98%;
    height: 80%;
}

#chat_input_box{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat_input{
    width: 80%;
    height: 100%;
}

#chat_send_button{
    width: 20%;
    height: 100%;
    text-align: center;
}

