#search_song_box{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    gap: 10px;
    overflow-y: auto;
    align-items: center;
    justify-content: start;
}

#search_song_box > #search_song_title{
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
}

#search_song_select{
    background-color: transparent;
    color: white;
    font-size: 20px;
    width: 60%;
    border: none;
    outline: none;
    text-align: center;
}

#search_song_select > option{
    background-color: #22291c;
    color: white;
    outline: none;
    font-size: 20px;
}


#search_results_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: rgba(127, 79, 24, 0.2);
}
::-webkit-scrollbar-thumb {
    background-color: #C2C5AA;
    border-radius: 10px;
}