#mobile_between_rounds_mid_box{
    width: 80%;
    height: 90%;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.goto_other_songs{
    text-decoration: underline;
    color: #afbf77;
    cursor: pointer;
    font-weight: bold;
}