#mobile_chat_box{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

#mobile_chat_box > #chat_messages_box{
    height: 80%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-x: hidden;
}

/* Quebra o texto se necessario */
.chat_message{
    word-wrap: break-word;
    word-break: normal;
    max-width: 98%;
    text-align: justify;
    overflow-wrap: break-word;
}

#mobile_chat_box > #chat_input_box{
    width: 100%;
    height: 10%;
    
    border: none;
    outline: none;
    
    background-color: #c3e59e99;
    color: #ffffff;
    border-radius: 15px;
}

#mobile_chat_box > #chat_input_box > #mobile_chat_input_text_input{
    width: calc(100% - 45px);
    height: 100%;

    text-indent: 10px;
    font-size: 15px;
    font-weight: 600;

    background-color: transparent;
    color: #ffffff;
    border-radius: 15px;

    border: none;
    outline: none;
}

#mobile_chat_input_text_input::placeholder{
    color: #ffffff74;
    opacity: 1;
}


#mobile_chat_box > #chat_input_box > button{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
