#mobile_main_frame{
    display: flex;
    flex-direction: column;
    height: 90%;
    position: relative;
}

#mobile_main_frame_option_buttons{
    position: absolute;
    display: flex;
    gap: 15px;
    top: -30px;
}

#mobile_main_frame_option_buttons > button{
    background-color: #656D4A;
    color: #F5F7E4;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    border: none;
}

#mobile_main_frame_option_buttons > button:hover{
    background-color: #F5F7E4;
    color: #656D4A;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}